In [1]:
import sqlite3

connection = sqlite3.connect('sample.db')
cursor = connection.cursor()

In [11]:
query = "SELECT name, surname FROM people WHERE name='Paul' ORDER BY name ASC LIMIT 10"

for result in cursor.execute(query):
    print(f"First name: {result[0]}, Last name: {result[1]}")

First name: Paul, Last name: Fernandez

In [13]:
query2 = "SELECT name, surname FROM people WHERE name LIKE '%es%' " 
# % is a wild card in SQL means anything + next pattern
# _ at least one character, you can make at least 2 by setting __ and this way forward


for result in cursor.execute(query2):
    print(f"First name: {result[0]}, Last name: {result[1]}")

First name: James, Last name: Johnson
First name: James, Last name: Tucker
First name: Jessica, Last name: Jordan