In [16]:
#Just run it once
#pip install faker.

In [18]:
# Here we are going to generate some data to store in the databse created in the file sqldb_creation.py
from faker import Faker
fake = Faker()
names = [fake.name().split() for _ in range(100)]

# To get only first and last name
names = [name for name in names if len(name) == 2]
names

[['Linda', 'Perez'],
 ['Cathy', 'Adams'],
 ['Shawn', 'Moore'],
 ['Matthew', 'Ross'],
 ['Daniel', 'Moore'],
 ['Dawn', 'Lane'],
 ['Emily', 'Carpenter'],
 ['Danielle', 'Wolf'],
 ['Charles', 'Salinas'],
 ['Christina', 'Mccarty'],
 ['Erika', 'Gilbert'],
 ['Jordan', 'Bright'],
 ['Austin', 'Taylor'],
 ['Elizabeth', 'Richardson'],
 ['Patrick', 'Cooper'],
 ['Amy', 'Lee'],
 ['Krista', 'Knight'],
 ['Brandi', 'Lewis'],
 ['Deborah', 'Anderson'],
 ['Austin', 'Saunders'],
 ['Brittany', 'Armstrong'],
 ['Douglas', 'Saunders'],
 ['Cory', 'Wood'],
 ['James', 'Baker'],
 ['Joshua', 'Jackson'],
 ['Tim', 'Richards'],
 ['Patrick', 'James'],
 ['Adam', 'Hooper'],
 ['Steven', 'Sanders'],
 ['Lindsey', 'Parker'],
 ['Manuel', 'Jordan'],
 ['Emily', 'Luna'],
 ['Jennifer', 'Perez'],
 ['Cory', 'Ramirez'],
 ['James', 'Medina'],
 ['Jeremiah', 'Cannon'],
 ['Jane', 'Mack'],
 ['Shirley', 'Mills'],
 ['William', 'Wilkins'],
 ['Todd', 'Santos'],
 ['Philip', 'Norton'],
 ['Jon', 'Davis'],
 ['Kathy', 'Cummings'],
 ['Bradley', 'Cannon'],
 ['Robin', 'Rollins'],
 ['Jessica', 'Rivera'],
 ['Brittany', 'Combs'],
 ['Ann', 'Atkins'],
 ['Joseph', 'Summers'],
 ['Mary', 'Mccarthy'],
 ['Patricia', 'Anderson'],
 ['Shawn', 'Evans'],
 ['John', 'Christian'],
 ['Edward', 'Booker'],
 ['Shari', 'Callahan'],
 ['Erik', 'May'],
 ['Kendra', 'Ball'],
 ['Ryan', 'White'],
 ['Kimberly', 'Kane'],
 ['Andrew', 'Robinson'],
 ['Caitlin', 'Rodriguez'],
 ['Timothy', 'Duncan'],
 ['Mariah', 'Mccarty'],
 ['Robert', 'Fisher'],
 ['William', 'Hall'],
 ['Nicholas', 'Cervantes'],
 ['Cynthia', 'Hodges'],
 ['Christopher', 'Murphy'],
 ['Alan', 'Arnold'],
 ['Gwendolyn', 'Morris'],
 ['Kaitlyn', 'Garner'],
 ['Cynthia', 'Christian'],
 ['Linda', 'Moore'],
 ['Arthur', 'Hancock'],
 ['Kathy', 'White'],
 ['Robert', 'Rojas'],
 ['Wendy', 'Hill'],
 ['Daniel', 'Wallace'],
 ['Deborah', 'Charles'],
 ['Tina', 'Cruz'],
 ['Danielle', 'Cole'],
 ['Austin', 'Curry'],
 ['Jason', 'Church'],
 ['Aaron', 'Anderson'],
 ['Chad', 'Nelson'],
 ['Clarence', 'Chapman'],
 ['Laura', 'Valentine'],
 ['Janice', 'Meyer'],
 ['Jamie', 'Newman'],
 ['Samantha', 'Macias'],
 ['Lisa', 'Lopez']]

In [19]:
# Let us fill our database now
import sqlite3

# connecting
connection = sqlite3.connect("sample.db")
cursor = connection.cursor()

In [22]:
# continuing
insert_query = "INSERT INTO people(name, surname) VALUES(?, ?)" # this is weird, but it is exactly like this
for name in names:
    cursor.execute(insert_query,name)

# filling
connection.commit

OperationalError: database is locked

In [15]:
# Checking if everything went allright 
select_query = "SELECT * from people LIMIT 10"
for i in cursor.execute(select_query): # each entry is a t-uple
    print(i)

(1, 'Michael', 'Collins')
(2, 'Sara', 'Perez')
(3, 'Ronald', 'Lopez')
(4, 'Barbara', 'White')
(5, 'Leslie', 'Watkins')
(6, 'Garrett', 'Lopez')
(7, 'Stuart', 'Graves')
(8, 'Kathryn', 'Patel')
(9, 'George', 'Hill')
(10, 'Kathleen', 'Perez')